.advice-card {
  min-height: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-cornflower-blue;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  padding: 20px 20px 32px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include vp-1023 {
    padding-bottom: 28px;
    min-height: 380px;
  }

  @include vp-767 {
    min-height: 320px;
    padding: 15px 15px 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 220px 0;

    @include vp-1023 {
      margin-bottom: 150px;
    }

    @include vp-767 {
      margin-bottom: 125px;
    }
  }

  & picture {
    flex-shrink: 0;
  }


  &__img {
    @include vp-1023 {
      width: 32px;
      height: 32px;
    }

    @include vp-767 {
      width: 28px;
      height: 28px;
    }
  }

  &__label {
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    color: $color-white;

    @include vp-1023 {
      font-size: 12px;
    }

    @include vp-767 {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__title {
    margin: auto 0 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $color-white;

    @include vp-1023 {
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
      margin: auto 0 15px;
    }
  }

  &__btn {
    padding: 14px;

    @include vp-1023 {
      padding: 10px;
    }
  }

  &__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    inset: 0;
    height: 100%;
  }
}