.breadcrumbs {
  padding: 20px 0 0;
  margin: 0 0 32px 0;

  @include vp-1023 {
    margin: 0 0 30px 0;
  }

  @include vp-767 {
    padding: 15px 0 0;
    margin: 0 0 15px 0;
  }

  &--alternate {
    .breadcrumbs__list {
      justify-content: flex-start;

      @include vp-1023 {
        justify-content: center;
      }
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    gap: 19px;
  }


  &__link:not(.breadcrumbs__link--active) {
    color: $color-manatee-1;

    &::after {
      content: "";
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $color-manatee-1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -11px;
    }
  }

  &__link {
    outline: none;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    position: relative;

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }

    &:hover,
    &:focus-visible {
      color: $color-royal-blue;
    }

    &[disabled] {
      color: $color-black-russian;
      pointer-events: none;
    }

  }



}