.features-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $color-solitude-1;
  border-radius: 12px;
  padding: 32px;
  position: relative;
  height: 100%;

  @include vp-1023 {
    padding: 30px 235px 30px 30px;
    min-height: 215px;
  }

  @include vp-767 {
    padding: 20px;
    min-height: 230px;
  }

  &--vertical {
    height: 100%;
    padding: 32px 20px 20px;
    align-items: center;


    @include vp-1023 {
      padding: 15px;
      min-height: 204px;
      align-items: flex-start;
    }

    @include vp-767 {
      padding: 15px 15px 20px;
      min-height: 302px;
      align-items: center;
    }
  }



  &--vertical &__img {
    position: static;
    width: 210px;
    height: 135px;

    @include vp-1023 {
      position: absolute;
      z-index: 1;
      right: 15px;
      transform: translateY(31%);
      width: 130px;
      height: 80px;
    }

    @include vp-767 {
      position: static;
      transform: none;
    }
  }

  &--reverse {
    .features-card__label {
      border: 1px solid $color-white-alpha;
      color: $color-white-alpha;
    }

    .features-card__title {
      color: $color-white;
    }

    .features-card__note {
      color: $color-white;
    }
  }

  &--bg-blue {
    background-color: $color-royal-blue;
  }

  &--bg-green {
    background-color: $color-humming-bird;
  }

  &--bg-lightblue {
    background-color: $color-pattens-blue;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    margin: 0 0 16px 0;
  }

  &--vertical &__wrapper {
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 24px;

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      margin-bottom: 20px;
      gap: 10px;
    }
  }

  &__inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @include vp-767 {
      width: 200px;
      z-index: 1;
    }
  }

  &--vertical &__inner {
    align-items: center;
    text-align: center;

    @include vp-1023 {
      width: 180px;
      align-items: flex-start;
      text-align: left;
    }

    @include vp-767 {
      width: 100%;
    }
  }




  &__picture {
    flex-shrink: 0;
    margin-top: auto;

  }

  &__img {

    @include vp-1023 {
      width: 220px;
      height: 140px;
      position: absolute;
      right: 30px;
      top: 38px;
    }

    @include vp-767 {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 160px;
      height: 100px;
    }
  }

  &__label {
    border: 1px solid $color-black-russian-alpha;
    border-radius: 4px;
    color: $color-black-russian-alpha;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    margin: 0 0 12px 0;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    min-width: 66px;

    @include vp-1023 {
      font-size: 8px;
      line-height: 12px;
      margin: 0 0 15px 0;
      min-width: 58px;
    }
  }

  &--vertical &__label {
    margin: 0 0 10px;
  }

  &--vertical &__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 6px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 10px 0;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 5px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 12px 0;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 10px 0;
    }
  }


  &__note {
    font-size: 15px;
    line-height: 22px;
    margin: 0;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &--vertical &__note {
    font-size: 14px;
    line-height: 20px;

    @include vp-1023 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__btn {
    min-width: 140px;
    margin-top: auto;

    @include vp-1023 {
      min-width: 127px;
    }
  }
}